<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only"> <%= url_for 'todos' %> </span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Todo<span class="sr-only"> <%= url_for 'todos' %> </span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-flex">
  <div class="container">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= form_with(model: Todo.new) do |form| %>
          <%= form.text_field(:title, placeholder: 'new', autofocus: true) %>
          <%= form.date_field(:due, value: Date.today) %>
        <% end %>
      </li>
      <% @todos.group_by{|t| t.due}.sort_by{|(due, _)| due ? due.to_time.to_i : Float::INFINITY}.each do |(due, tasks)| %>
        <li class="list-group-item">
          due <%= describe_date_relative(due) %>
          <ul class="list-group">
            <% tasks.each do |todo| %>
              <li class="list-group-item"> 
                <%=todo.title=%> 
                <%= link_to 'finish', todo_path(todo), method: :delete %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
